<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ListCourse</servlet-name>
        <servlet-class>servlet.ListCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCourse</servlet-name>
        <servlet-class>servlet.DetailCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPrograming</servlet-name>
        <servlet-class>servlet.ListPrograming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPrograming</servlet-name>
        <servlet-class>servlet.DetailPrograming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeAdmin</servlet-name>
        <servlet-class>servlet.LoadHomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAccount</servlet-name>
        <servlet-class>servlet.DetailAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>servlet.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreUpdateAccount</servlet-name>
        <servlet-class>servlet.PreUpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCourse</servlet-name>
        <servlet-class>servlet.AddNewCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>servlet.DeleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCourseAdmin</servlet-name>
        <servlet-class>servlet.DetailCourseAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDepartmentAdmin</servlet-name>
        <servlet-class>servlet.ListDepartmentAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewDepartment</servlet-name>
        <servlet-class>servlet.AddNewDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDepartment</servlet-name>
        <servlet-class>servlet.DeleteDepartment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourseAdmin</servlet-name>
        <servlet-class>servlet.ListCourseAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreUpdateCourse</servlet-name>
        <servlet-class>servlet.PreUpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>servlet.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreCreateCMR</servlet-name>
        <servlet-class>servlet.PreCreateCMR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCMRCLServlet</servlet-name>
        <servlet-class>servlet.getCMRCLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCourse</servlet-name>
        <url-pattern>/ListCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCourse</servlet-name>
        <url-pattern>/DetailCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPrograming</servlet-name>
        <url-pattern>/ListPrograming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPrograming</servlet-name>
        <url-pattern>/DetailPrograming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeAdmin</servlet-name>
        <url-pattern>/LoadHomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAccount</servlet-name>
        <url-pattern>/DetailAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreUpdateAccount</servlet-name>
        <url-pattern>/PreUpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCourse</servlet-name>
        <url-pattern>/AddNewCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCourseAdmin</servlet-name>
        <url-pattern>/DetailCourseAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDepartmentAdmin</servlet-name>
        <url-pattern>/ListDepartmentAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDepartment</servlet-name>
        <url-pattern>/AddNewDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDepartment</servlet-name>
        <url-pattern>/DeleteDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCourseAdmin</servlet-name>
        <url-pattern>/ListCourseAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreUpdateCourse</servlet-name>
        <url-pattern>/PreUpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/UpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreCreateCMR</servlet-name>
        <url-pattern>/PreCreateCMR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCMRCLServlet</servlet-name>
        <url-pattern>/getCMRCLServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
