<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ListCourse</servlet-name>
        <servlet-class>servlet.ListCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCourse</servlet-name>
        <servlet-class>servlet.DetailCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPrograming</servlet-name>
        <servlet-class>servlet.ListPrograming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPrograming</servlet-name>
        <servlet-class>servlet.DetailPrograming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeAdmin</servlet-name>
        <servlet-class>servlet.LoadHomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAccount</servlet-name>
        <servlet-class>servlet.DetailAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>servlet.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreUpdateAccount</servlet-name>
        <servlet-class>servlet.PreUpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesGet</servlet-name>
        <servlet-class>servlet.CoursesGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCMR</servlet-name>
        <servlet-class>servlet.createCMR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMRGet</servlet-name>
        <servlet-class>servlet.CMRGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCmr</servlet-name>
        <servlet-class>servlet.DetailCmr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCourse</servlet-name>
        <url-pattern>/ListCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCourse</servlet-name>
        <url-pattern>/DetailCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPrograming</servlet-name>
        <url-pattern>/ListPrograming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPrograming</servlet-name>
        <url-pattern>/DetailPrograming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeAdmin</servlet-name>
        <url-pattern>/LoadHomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAccount</servlet-name>
        <url-pattern>/DetailAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreUpdateAccount</servlet-name>
        <url-pattern>/PreUpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesGet</servlet-name>
        <url-pattern>/CoursesGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCMR</servlet-name>
        <url-pattern>/createCMR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMRGet</servlet-name>
        <url-pattern>/CMRGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCmr</servlet-name>
        <url-pattern>/DetailCmr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
